profiles {
  teoroo2 {
    executor{
      name = 'local'
      cpus = 32
    }

    env {
      OMP_NUM_THREADS='1'
    }

    process {
      cpus=1
      withLabel: cp2k {
        cpus = 8
        container='/sw/pinnacle/cp2k.sif'}
    }

    singularity {
      enabled = true
    }
  }

  alvis {
    params{
      cp2k_cmd = 'OMP_NUM_THREADS=2 mpirun -n 4 cp2k.psmp'
    }

    executor{
      name = 'slurm'
      queueSize = 100
      submitRateLimit = '120 min'
    }

    process {
      time = '3d'
      executor = 'slurm'
      errorStrategy='ignore'

      withLabel: 'cp2k' {
        scratch=true
        module = 'TensorFlow/2.6.0-fosscuda-2021a-CUDA-11.3.1'
      }
    }
  }
}
